button, input{
    margin: 0.3em;
}

.edit-link {
    font-size: 12px;
    text-decoration: inherit;  
}

.edit-link:hover{
    text-decoration: underline;
    color: cadetblue;
    cursor: pointer;
}